@import '_fonts.scss';

h1{
    font-family: 'Almarai', sans-serif;
}

p{
    font-family: 'Almarai', sans-serif;
}

.rtl{
    direction: rtl;
    .me-auto {
        margin-right:0 !important;
        margin-left:auto !important;
    }


    .list-inline {
        padding-left: initial;
        padding-right: 0;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0;
        margin-left: 0.5rem;
        
    }
}






@media (max-width: 480px) {
   
    #hero .herobg{
        margin-bottom: 1000px;
        display: none;

    }
 
  }

  @media (min-width: 1470px){


    #hero.container {
        max-width: 1370px !important;
    }
  }


 

  

.about{
    color: #38B980;
}

#contact {
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.09);
    background-image: url("assets/img/contact.svg");
    
    
    // background-position:left;
    background-repeat: no-repeat;
}
@media (max-width: 480px) {
    #contact {
        background-size: contain;
        
        
    }
    #contact hr {
        width: 100%;
    }
    #contact hr {
        width: 100%;
    }
  }

  @media (max-width: 896px) {
    #contact {
        background-size: contain;
    }
  }
  @media (max-width: 720px) {
    #contact {
        background-size:contain ;
        
    }
  }
  @media (max-width: 667px) {
    #contact {
        background-size: contain;
      
   
      
    }
  }


.download{
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.09)
}

.card-feature{
    background: #38b980
}

.card-feature:hover{
    transition: all .3s;
    transform: scale(1.1);
    z-index: 5;

    
}

.card-bg:hover {
    background: linear-gradient(
      180deg,
      #38b980 17.2%,
      rgba(235, 224, 104, 0.9) 100%

    );
  }

  hr.myhrline{
    margin: 0px;
    width: 100%;
    // color: linear-gradient(90deg, #38B980 0%, rgba(235, 224, 104, 0.9) 31.25%, rgba(208, 103, 65, 0.97) 74.48%, #C73C34 100%);
    // border: 1px solid ;

    background: linear-gradient(90deg, #38B980 0%, rgba(235, 224, 104, 0.9) 31.25%, rgba(208, 103, 65, 0.97) 74.48%, #C73C34 100%);; 
    height: 3px; 
    border: 0;
   
    

 }

 .lang{
   background: #38b980; 
   color: white;


 }

 .lang:hover{
    background: white;
    color: #38B980;

    border-color: #38B980;
    

 }


